<a href="https://colab.research.google.com/github/Shanmukh451/shanmukhanadh_INFO5502_sPRING2022/blob/main/lab_assignment_03_(2).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## The third Lab-assignment (02/10/2022, 50 points in total)

The purpose of this exercise is to understand users' information needs, then collect data from different sources for analysis.

Question 1 (10 points). Fomulate your domain problem: Describe an interesting research question (or practical question) you have in mind, what kind of data should be collected to answer the question(s)? How many data needed for the analysis? The detail steps for collecting and save the data.

In [ ]:
from numpy.ma.core import flatten_structured_array
# Your answer here (no code for this question, write down your answer as detail as possible for the above questions):

'''
Please write you answer here:
 
1) I have very interested to do research in the cricket and mainly on the Cricket Helmets. 
2) This thought occured where many players have been injured due to lack of strength and quality of the helmets.So, i would to collect the data of all the games 
    where the players have been injured or hit on the helmemt by which from the data we can get ball speed and the point of intact and
     how much impact the player head been hit and also angle of impact
3) To analyse and get a solution we need lots of data from lot matches by which we can analyse and get a feasible solution.

'''

Question 2 (10 points). Collect your data to answer the research problem: Write python code to collect 1000 data samples you discussed above.

In [ ]:
# You code here (Please add comments in the code):



import pandas as pd
import numpy as np

data = pd.read_csv("/content/drive/MyDrive/deliveries.csv")

data2= data.sample(n = 1000)
data2

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
58591,248,1,Chennai Super Kings,Royal Challengers Bangalore,7,5,MEK Hussey,SK Raina,R Ninan,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
123451,521,1,Chennai Super Kings,Sunrisers Hyderabad,1,2,DR Smith,BB McCullum,B Kumar,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
73662,313,1,Chennai Super Kings,Deccan Chargers,14,2,MS Dhoni,RA Jadeja,Ankit Sharma,0,...,0,0,0,0,1,0,1,NaN,NaN,NaN
63184,267,2,Rajasthan Royals,Mumbai Indians,2,3,SR Watson,R Dravid,MM Patel,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
165492,11140,1,Kings XI Punjab,Rajasthan Royals,6,6,MA Agarwal,CH Gayle,J Archer,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138761,587,1,Royal Challengers Bangalore,Delhi Daredevils,14,5,SR Watson,V Kohli,CR Brathwaite,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
149535,633,1,Gujarat Lions,Royal Challengers Bangalore,9,3,DR Smith,KD Karthik,STR Binny,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
26129,112,2,Kolkata Knight Riders,Kings XI Punjab,15,4,WP Saha,SC Ganguly,PP Chawla,0,...,0,0,0,0,0,0,0,WP Saha,caught,IK Pathan
117846,497,2,Kolkata Knight Riders,Mumbai Indians,6,6,RV Uthappa,G Gambhir,SL Malinga,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
24109,104,2,Delhi Daredevils,Royal Challengers Bangalore,2,5,G Gambhir,V Sehwag,Z Khan,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN

Question 3 (10 points). Understand the data quality: Search a second hand dataset (any dataset) from kaggle or other websites. Describe the data quality problem of the dataset and explain your strtegy to clean the data.

In [ ]:
# Your answer here (no code for this question, write down your answer as detail as possible for the above questions):
'''

Please write you answer here:


data set= https://www.kaggle.com/jcraggy/baseball

1) This is a dataset from kaggle regarding the baseball.
2) If we have discuss about the quality of the datasets taken, we have clearly increase description of the Away team and Home Team  wins and losses and
3) And here in the data sets thy have not clearly given the pitcher analysis and his numbers where they didnt given numbers speacifically between left and right handers.
4) - by removing the duplicate and unnecessary player numbers
   - by adding the required data of pitchers to analyze the data properly. 






'''

Question 4 (20 points). Data cleaning: There are two datasets TwADR-L (from Twitter) and AskAPatient (Link: https://zenodo.org/record/55013#.YgU2NN-ZO4T) for medical concept
normalization. However, the two datasets have serious data quality problems. Please read the introduction of the datasets and clean the two datasets by following the steps in the statement.

In the original dataset, the TwADR-L had 48,057 training, 1,256 validation and 1,427 test examples. The test set (all
test samples from 10 folds combined) consists of 765 unique phrases and 273 unique classes (medical concepts). The AskAPatient dataset contained 156,652 training, 7,926 validation, and 8,662 test examples. The entire test set (all test samples
from 10 folds combined) consists of 3,749 unique phrases and 1,035 unique classes (medical concepts). The authors
randomly split each dataset into ten equal folds, ran 10-fold cross validation and reported the accuracy averaged across the
ten folds. 

We found that, in the original data set, many phrase-label pairs appeared multiple times within the same training data file
and also across the training and test data sets in the same fold. In the AskAPatient data set, on average 35.82% of the test data overlapped with training data in the same fold. In the Twitter (TwADR-L) dataset, on average 8.62% of the test set had an overlap with the training data in the same fold. Having a large overlap between the training and the test data can potentially
introduce bias in the model and contribute to high accuracy. It is not unlikely that the high model performance reported in the original paper may be triggered by the the large overlap between the training and test sets.

Therefore to remove the bias, we further cleaned and recreated the training, validation, and test sets such that each
phrase-label pair appears only once in the entire dataset (either in training, validation or test set).

(1) First, we combined all examples in training, validation and test data from the original data set and then removed all
duplicate phrase-label pairs (examples that have the same phrase and label pair and appear more than once in training/validation/test datasets). Table II shows the statistics of the new dataset (after removing duplicates). The Twitter data set had 3,157 unique phrase-label pairs and 2,220 unique labels (medical concepts) while 173 phrases had multiple labels (i.e., they were assigned to more than one label). Many concepts had only one example, and the concept that had the most number
of examples had 36 phrases. On average, each concept had 1.42 examples. The AskAPatient data set had 4,496 unique phrase-label pairs, 1,036 unique labels while 26 phrases had multiple labels. Table III shows examples of phrases that had multiple labels. For example, ‘mad’ can be mapped to ‘anger’ or ‘rage’ and ‘sore’ can be mapped to ‘pain’ or ‘myalgia’.

(2) Second, we remove all concepts that had less than five examples. The statistics of the final data are shown in Table IV.

(3) Third, we divide all examples without multiple labels into random 10 folds such that each unique phrase-label pair
appears once in one of the 10 test sets. We add the pairs with multiple labels into the training data. This final 10-folds
dataset is used in all our experiments.

(The original paper can be download on canvas)

In [13]:
!unzip /content/datasets.zip

Archive:  /content/datasets.zip
   creating: datasets/
  inflating: datasets/.DS_Store
   creating: __MACOSX/
   creating: __MACOSX/datasets/
  inflating: __MACOSX/datasets/._.DS_Store
   creating: datasets/AskAPatient/
  inflating: datasets/AskAPatient/AskAPatient.fold-0.test.txt
   creating: __MACOSX/datasets/AskAPatient/
  inflating: __MACOSX/datasets/AskAPatient/._AskAPatient.fold-0.test.txt
  inflating: datasets/AskAPatient/AskAPatient.fold-0.train.txt
  inflating: __MACOSX/datasets/AskAPatient/._AskAPatient.fold-0.train.txt
  inflating: datasets/AskAPatient/AskAPatient.fold-0.validation.txt
  inflating: __MACOSX/datasets/AskAPatient/._AskAPatient.fold-0.validation.txt
  inflating: datasets/AskAPatient/AskAPatient.fold-1.test.txt
  inflating: __MACOSX/datasets/AskAPatient/._AskAPatient.fold-1.test.txt
  inflating: datasets/AskAPatient/AskAPatient.fold-1.train.txt
  inflating: __MACOSX/datasets/AskAPatient/._AskAPatient.fold-1.train.txt
  inflating: datasets/AskAPatient/AskAPatient.fold-1.validation.txt
  inflating: __MACOSX/datasets/AskAPatient/._AskAPatient.fold-1.validation.txt
  inflating: datasets/AskAPatient/AskAPatient.fold-2.test.txt
  inflating: __MACOSX/datasets/AskAPatient/._AskAPatient.fold-2.test.txt
  inflating: datasets/AskAPatient/AskAPatient.fold-2.train.txt
  inflating: __MACOSX/datasets/AskAPatient/._AskAPatient.fold-2.train.txt
  inflating: datasets/AskAPatient/AskAPatient.fold-2.validation.txt
  inflating: __MACOSX/datasets/AskAPatient/._AskAPatient.fold-2.validation.txt
  inflating: datasets/AskAPatient/AskAPatient.fold-3.test.txt
  inflating: __MACOSX/datasets/AskAPatient/._AskAPatient.fold-3.test.txt
  inflating: datasets/AskAPatient/AskAPatient.fold-3.train.txt
  inflating: __MACOSX/datasets/AskAPatient/._AskAPatient.fold-3.train.txt
  inflating: datasets/AskAPatient/AskAPatient.fold-3.validation.txt
  inflating: __MACOSX/datasets/AskAPatient/._AskAPatient.fold-3.validation.txt
  inflating: datasets/AskAPatient/AskAPatient.fold-4.test.txt
  inflating: __MACOSX/datasets/AskAPatient/._AskAPatient.fold-4.test.txt
  inflating: datasets/AskAPatient/AskAPatient.fold-4.train.txt
  inflating: __MACOSX/datasets/AskAPatient/._AskAPatient.fold-4.train.txt
  inflating: datasets/AskAPatient/AskAPatient.fold-4.validation.txt
  inflating: __MACOSX/datasets/AskAPatient/._AskAPatient.fold-4.validation.txt
  inflating: datasets/AskAPatient/AskAPatient.fold-5.test.txt
  inflating: __MACOSX/datasets/AskAPatient/._AskAPatient.fold-5.test.txt
  inflating: datasets/AskAPatient/AskAPatient.fold-5.train.txt
  inflating: __MACOSX/datasets/AskAPatient/._AskAPatient.fold-5.train.txt
  inflating: datasets/AskAPatient/AskAPatient.fold-5.validation.txt
  inflating: __MACOSX/datasets/AskAPatient/._AskAPatient.fold-5.validation.txt
  inflating: datasets/AskAPatient/AskAPatient.fold-6.test.txt
  inflating: __MACOSX/datasets/AskAPatient/._AskAPatient.fold-6.test.txt
  inflating: datasets/AskAPatient/AskAPatient.fold-6.train.txt
  inflating: __MACOSX/datasets/AskAPatient/._AskAPatient.fold-6.train.txt
  inflating: datasets/AskAPatient/AskAPatient.fold-6.validation.txt
  inflating: __MACOSX/datasets/AskAPatient/._AskAPatient.fold-6.validation.txt
  inflating: datasets/AskAPatient/AskAPatient.fold-7.test.txt
  inflating: __MACOSX/datasets/AskAPatient/._AskAPatient.fold-7.test.txt
  inflating: datasets/AskAPatient/AskAPatient.fold-7.train.txt
  inflating: __MACOSX/datasets/AskAPatient/._AskAPatient.fold-7.train.txt
  inflating: datasets/AskAPatient/AskAPatient.fold-7.validation.txt
  inflating: __MACOSX/datasets/AskAPatient/._AskAPatient.fold-7.validation.txt
  inflating: datasets/AskAPatient/AskAPatient.fold-8.test.txt
  inflating: __MACOSX/datasets/AskAPatient/._AskAPatient.fold-8.test.txt
  inflating: datasets/AskAPatient/AskAPatient.fold-8.train.txt
  inflating: __MACOSX/datasets/AskAPatient/._AskAPatient.fold-8.train.txt
  inflating: datasets/AskAPatient/AskAPatient.fold-8.validation.txt
  inflating: __MACOSX/datasets/AskAPatient/._AskAPatient.fold-8.validation.txt
  inflating: datasets/AskAPatient/AskAPatient.fold-9.test.txt
  inflating: __MACOSX/datasets/AskAPatient/._AskAPatient.fold-9.test.txt
  inflating: datasets/AskAPatient/AskAPatient.fold-9.train.txt
  inflating: __MACOSX/datasets/AskAPatient/._AskAPatient.fold-9.train.txt
  inflating: datasets/AskAPatient/AskAPatient.fold-9.validation.txt
  inflating: __MACOSX/datasets/AskAPatient/._AskAPatient.fold-9.validation.txt
   creating: datasets/TwADR-L/
  inflating: datasets/TwADR-L/TwADR-L.fold-0.test.txt
   creating: __MACOSX/datasets/TwADR-L/
  inflating: __MACOSX/datasets/TwADR-L/._TwADR-L.fold-0.test.txt
  inflating: datasets/TwADR-L/TwADR-L.fold-0.train.txt
  inflating: __MACOSX/datasets/TwADR-L/._TwADR-L.fold-0.train.txt
  inflating: datasets/TwADR-L/TwADR-L.fold-0.validation.txt
  inflating: __MACOSX/datasets/TwADR-L/._TwADR-L.fold-0.validation.txt
  inflating: datasets/TwADR-L/TwADR-L.fold-1.test.txt
  inflating: __MACOSX/datasets/TwADR-L/._TwADR-L.fold-1.test.txt
  inflating: datasets/TwADR-L/TwADR-L.fold-1.train.txt
  inflating: __MACOSX/datasets/TwADR-L/._TwADR-L.fold-1.train.txt
  inflating: datasets/TwADR-L/TwADR-L.fold-1.validation.txt
  inflating: __MACOSX/datasets/TwADR-L/._TwADR-L.fold-1.validation.txt
  inflating: datasets/TwADR-L/TwADR-L.fold-2.test.txt
  inflating: __MACOSX/datasets/TwADR-L/._TwADR-L.fold-2.test.txt
  inflating: datasets/TwADR-L/TwADR-L.fold-2.train.txt
  inflating: __MACOSX/datasets/TwADR-L/._TwADR-L.fold-2.train.txt
  inflating: datasets/TwADR-L/TwADR-L.fold-2.validation.txt
  inflating: __MACOSX/datasets/TwADR-L/._TwADR-L.fold-2.validation.txt
  inflating: datasets/TwADR-L/TwADR-L.fold-3.test.txt
  inflating: __MACOSX/datasets/TwADR-L/._TwADR-L.fold-3.test.txt
  inflating: datasets/TwADR-L/TwADR-L.fold-3.train.txt
  inflating: __MACOSX/datasets/TwADR-L/._TwADR-L.fold-3.train.txt
  inflating: datasets/TwADR-L/TwADR-L.fold-3.validation.txt
  inflating: __MACOSX/datasets/TwADR-L/._TwADR-L.fold-3.validation.txt
  inflating: datasets/TwADR-L/TwADR-L.fold-4.test.txt
  inflating: __MACOSX/datasets/TwADR-L/._TwADR-L.fold-4.test.txt
  inflating: datasets/TwADR-L/TwADR-L.fold-4.train.txt
  inflating: __MACOSX/datasets/TwADR-L/._TwADR-L.fold-4.train.txt
  inflating: datasets/TwADR-L/TwADR-L.fold-4.validation.txt
  inflating: __MACOSX/datasets/TwADR-L/._TwADR-L.fold-4.validation.txt
  inflating: datasets/TwADR-L/TwADR-L.fold-5.test.txt
  inflating: __MACOSX/datasets/TwADR-L/._TwADR-L.fold-5.test.txt
  inflating: datasets/TwADR-L/TwADR-L.fold-5.train.txt
  inflating: __MACOSX/datasets/TwADR-L/._TwADR-L.fold-5.train.txt
  inflating: datasets/TwADR-L/TwADR-L.fold-5.validation.txt
  inflating: __MACOSX/datasets/TwADR-L/._TwADR-L.fold-5.validation.txt
  inflating: datasets/TwADR-L/TwADR-L.fold-6.test.txt
  inflating: __MACOSX/datasets/TwADR-L/._TwADR-L.fold-6.test.txt
  inflating: datasets/TwADR-L/TwADR-L.fold-6.train.txt
  inflating: __MACOSX/datasets/TwADR-L/._TwADR-L.fold-6.train.txt
  inflating: datasets/TwADR-L/TwADR-L.fold-6.validation.txt
  inflating: __MACOSX/datasets/TwADR-L/._TwADR-L.fold-6.validation.txt
  inflating: datasets/TwADR-L/TwADR-L.fold-7.test.txt
  inflating: __MACOSX/datasets/TwADR-L/._TwADR-L.fold-7.test.txt
  inflating: datasets/TwADR-L/TwADR-L.fold-7.train.txt
  inflating: __MACOSX/datasets/TwADR-L/._TwADR-L.fold-7.train.txt
  inflating: datasets/TwADR-L/TwADR-L.fold-7.validation.txt
  inflating: __MACOSX/datasets/TwADR-L/._TwADR-L.fold-7.validation.txt
  inflating: datasets/TwADR-L/TwADR-L.fold-8.test.txt
  inflating: __MACOSX/datasets/TwADR-L/._TwADR-L.fold-8.test.txt
  inflating: datasets/TwADR-L/TwADR-L.fold-8.train.txt
  inflating: __MACOSX/datasets/TwADR-L/._TwADR-L.fold-8.train.txt
  inflating: datasets/TwADR-L/TwADR-L.fold-8.validation.txt
  inflating: __MACOSX/datasets/TwADR-L/._TwADR-L.fold-8.validation.txt
  inflating: datasets/TwADR-L/TwADR-L.fold-9.test.txt
  inflating: __MACOSX/datasets/TwADR-L/._TwADR-L.fold-9.test.txt
  inflating: datasets/TwADR-L/TwADR-L.fold-9.train.txt
  inflating: __MACOSX/datasets/TwADR-L/._TwADR-L.fold-9.train.txt
  inflating: datasets/TwADR-L/TwADR-L.fold-9.validation.txt
  inflating: __MACOSX/datasets/TwADR-L/._TwADR-L.fold-9.validation.txt

In [15]:
import glob
myresult_df =  pd.DataFrame()
# we iterate through both datasets 
for dataset in ['TwADR-L', 'AskAPatient']:
    myresult = {}
    df = pd.DataFrame()
    for filepath in glob.glob('/content/datasets/{}/*.txt'.format(dataset)):
        data = pd.read_csv(filepath, sep = "\t", header = None, encoding= 'unicode_escape')
        df = df.append(data)
    # we create combined dataframe by combining Each dataset text files.
    df = df.reset_index(drop=True)
    df['phrase_label'] = df[1] + " " + df[2]
    df.columns = ['id', 'labels', 'phrases', 'phrase-label']
    # type casting to str
    df = df.astype({"id": str})
    # converting all values to lower case
    for columns in df.columns:
        df[columns] = df[columns].str.lower() 

    # dropping duplicates
    df = df.drop_duplicates('phrase-label')

    # storing myresults of the table in dictionary
    myresult['Unique_phrases'] = len(df['phrases'].unique())
    myresult['Unique_labels'] = len(df['labels'].unique())
    myresult['Unique_phrase_label_pairs'] = df.shape[0]
    df1 = pd.DataFrame(df['phrases'].value_counts())
    myresult['Phrases with multiple labels'] = df1[df1['phrases'] > 1].shape[0]
    myresult['Min examples per label'] = df['labels'].value_counts().values.min()
    myresult['Max examples per label'] = df['labels'].value_counts().values.max()
    myresult['Avg examples per label'] = round(df['labels'].value_counts().mean(), 2)
    mymyresult_df = mymyresult_df.append(myresult, ignore_index=True)


mymyresult_df = mymyresult_df.T
mymyresult_df = mymyresult_df.astype({0: int, 1: int})
mymyresult_df.columns = ['TwADR-L', 'AskAPatient']

mymyresult_df

                              TwADR-L  AskAPatient
Unique_phrases                   2944         4470
Unique_labels                    2220         1038
Unique_phrase_label_pairs        3157         4507
Phrases with multiple labels      173           35
Min examples per label              1            1
Max examples per label             36          141
Avg examples per label              1            4

IndexError: ignored

In [24]:
import pandas as pd
import glob
r_fd = pd.DataFrame()
# we iterate through both datasets 
for dataset in ['TwADR-L', 'AskAPatient']:
    fd = pd.DataFrame()
    r = {}
    for filepath in glob.glob('/content/datasets/{}/*.txt'.format(dataset)):
        #print(filepath)
        data = pd.read_csv(filepath, sep = "\t", header = None, encoding= 'unicode_escape')
        fd = fd.append(data)
    # we create combined dataframe by combining Each dataset text files.
    fd = fd.reset_index(drop=True)
    fd['phrase_label'] = fd[1] + " " + fd[2]
    fd.columns = ['id', 'labels', 'phrases', 'phrase-label']
    #print(fd.shape)
    fd = fd.astype({"id": str})
    # converting to lower case
    for columns in fd.columns:
        fd[columns] = fd[columns].str.lower() 

    # we drop duplicates that are phrase-label pairs... 
    fd = fd.drop_duplicates('phrase-label')

    index_list = []
    for i in range(fd.shape[0]):
        if fd['labels'].value_counts()[fd.iloc[i]['labels']] < 5:
            index_list.append(i)

    # we drop the labels that have less than count of 5.
    fd.drop(fd.index[index_list], inplace=True)
    r = {}
    # storing rs of the table in dictionary
    r['Unique_phrases'] = len(fd['phrases'].unique())
    r['Unique_labels'] = len(fd['labels'].unique())
    r['Unique_phrase_label_pairs'] = fd.shape[0]
    fd1 = pd.DataFrame(fd['phrases'].value_counts())
    r['Phrases with multiple labels'] = fd1[fd1['phrases'] > 1].shape[0]
    r['Min examples per label'] = fd['labels'].value_counts().values.min()
    r['Max examples per label'] = fd['labels'].value_counts().values.max()
    r['Avg examples per label'] = round(fd['labels'].value_counts().mean(), 2)
    # appending dictinary to dataframe
    r_fd = r_fd.append(r, ignore_index=True)

r_fd = r_fd.T
#r_fd = r_fd.astype({0: str, 1: str})
r_fd.columns = ['TwADR-L', 'AskAPatient']

r_fd

                              TwADR-L  AskAPatient
Unique_phrases                 616.00      2665.00
Unique_labels                   76.00       233.00
Unique_phrase_label_pairs      721.00      2686.00
Phrases with multiple labels    87.00        19.00
Min examples per label           5.00         5.00
Max examples per label          36.00       141.00
Avg examples per label           9.49        11.53