<a href="https://colab.research.google.com/github/Shanmukh451/shanmukhanadh_INFO5502_sPRING2022/blob/main/lab_assignment_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first Lab-assignment (01/25/2022, 50 points in total)**

(1) Write a Python program to count the number of characters in a string. (5 points)

Sample String : 'google.com', 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [25]:
term = input("Enter the  String: ")
cnt = {}
for char in set(term):
  cnt[char] = term.count(char)

print(cnt)

Enter the  String: google.com
{'o': 3, 'e': 1, 'l': 1, 'm': 1, 'c': 1, 'g': 2, '.': 1}

(2) Write a Python program to sum all the items in a list. (5 points)

In [26]:
# write your answer here
New_list =[5,6,7,9,10]
total = 0
for i in New_list:
 total = total + i

print("The total of the items in the list is: {}".format(total))

The total of the items in the list is: 37

(3) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (5 points)

Sample String : 'restart', 

Expected Result : 'resta\$t'

In [31]:
# write your answer here
given_word = input()
print("".join((given_word[0], given_word[1:].replace(given_word[0], "*"))))

restart
resta*t

(4) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (5 points)

In [33]:
# write your answer here
num1 = int(input("Enter the first value: "))
num2 = int(input("Enter the second value: "))

S = 3.14 * (1 + (num1/num2)) ** 3
print(S)

Enter the first value: 45
Enter the second value: 56
18.421699275692422

(5) Write a Python program to concatenate following dictionaries to create a new one. (5 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [34]:
# write your answer here
list1={1:10, 2:20}; list2={3:30, 4:40}; list3={5:50,6:60}

outcome = {}
for i in [list1, list2, list3]:
  outcome.update(i)
print(outcome)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(6) Write a Python program to check whether an element exists within a tuple. (5 points)

In [37]:
# write your answer here
One_list = ("Magic", "Will","is","My")
terms = input("Enter element: ")
if terms in One_list:
  print("Element present")
else:
  print("Element not present")

Enter element: magic
Element not present

(7) Write a Python program to find maximum and the minimum value in a set. (5 points)

In [20]:
# write your answer here
import sys
My_list = {3, 99, 7, 457, 579, 5667,88}
print("Max:",max(My_list))
print("Min:",min(My_list))

Max: 5667
Min: 3

(8) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list: (5 points)

studnet_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386',
           'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']

In [21]:
# write your answer here
import numpy as np,random
studnet_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386', 'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']
Team_Size =[5, 6, 4, 6, 5, 4]
output = []
for size in Team_Size: 
  Team = random.sample(studnet_list,size )
  studnet_list = list(set(studnet_list) ^ set(Team))
  output = output + [Team]
    
for row in output:
    print(row, end= '\n')

['sc1229', 'av0659', 'hy0232', 'sk1458', 'sm1907']
['sg1297', 'ak0934', 'fh0141', 'kg0569', 'sa1198', 'ja0964']
['sm1640', 'aos0040', 'sk1313', 'bg0320']
['nv0234', 'ds0814', 'nm0618', 'vb0218', 'sk1390', 'jl1252']
['pr0353', 'vm0377', 'sb1357', 'sk1386', 'ak0956']
['dr0609', 'ms1500', 'gn0108', 'kg0470']

(9) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements. (5 points)

In [36]:
# write your answeimport numpy as np
Num = np.array([1, 2, 6, 5, 6, 4, 5, 6, 5, 4, 7, 8, 3, 6, 1])
#arr = np.array([2, 3, 4, 5])

flag = 0

for i in set(Num):
  if np.count_nonzero(Num == i) > 1:
    flag = 1
    print(i, end = ', ')
if flag == 0:
  print("-1")

1, 4, 5, 6,

(10) Write a Python program to select all the Sundays of a specified year. (5 extra points)

In [24]:
# write your answer here
import pandas as pd

def Total_sundays(year):
  return pd.date_range(start=str(year), end=str(year+1), freq='W-SUN').strftime('%d-%B-%Y').tolist()

year = int(input("Enter the year: "))
Total_sundays(year)

Enter the year: 2021

['03-January-2021',
 '10-January-2021',
 '17-January-2021',
 '24-January-2021',
 '31-January-2021',
 '07-February-2021',
 '14-February-2021',
 '21-February-2021',
 '28-February-2021',
 '07-March-2021',
 '14-March-2021',
 '21-March-2021',
 '28-March-2021',
 '04-April-2021',
 '11-April-2021',
 '18-April-2021',
 '25-April-2021',
 '02-May-2021',
 '09-May-2021',
 '16-May-2021',
 '23-May-2021',
 '30-May-2021',
 '06-June-2021',
 '13-June-2021',
 '20-June-2021',
 '27-June-2021',
 '04-July-2021',
 '11-July-2021',
 '18-July-2021',
 '25-July-2021',
 '01-August-2021',
 '08-August-2021',
 '15-August-2021',
 '22-August-2021',
 '29-August-2021',
 '05-September-2021',
 '12-September-2021',
 '19-September-2021',
 '26-September-2021',
 '03-October-2021',
 '10-October-2021',
 '17-October-2021',
 '24-October-2021',
 '31-October-2021',
 '07-November-2021',
 '14-November-2021',
 '21-November-2021',
 '28-November-2021',
 '05-December-2021',
 '12-December-2021',
 '19-December-2021',
 '26-December-2021']